<h1><%= @competition.name %></h1>

<%= @competition.location %>
<%= @competition.sport %>

<% @competition.teams.each do |team| %>
  <%= team.nickname %>
  <%= team.hometown %>
<% end %>

<%= @competition.average_players_age %>

<%= link_to "Register a New Team", "/competitions/#{@competition.id}/teams/new" %>
